<div class="container my-4">
    <!--Carousel Wrapper-->
    <!--/.Carousel Wrapper-->
<br>
    <h2 class=" h2 text-center" style="color: rgb(25, 88, 80);"></h2>

    <!--Carousel Wrapper-->
    <div
      id="carousel-example-2"
      class="carousel slide carousel-fade z-depth-1-half"
      data-ride="carousel"
    >
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li
          data-target="#carousel-example-2"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider1.jpg"
              alt="First slide"
              style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"> </h3> <!--Caption-->
            <p style="color: black;font-weight: bold;"> Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider2.jpg"
              alt="Second slide"
              style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"></h3> <!--Caption-->
            <p style="color: rgb(17, 17, 17);font-weight: bold;">  
                As a valued customer you can now avail Instant Sanction of your Home Loan at attractive interest rate</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img
              class="d-block w-100"
              src="/assets/images/slider/homeloan_slider4.jpg"
              alt="Third slide" style="height: 500px;width: 700px;"
            />
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive"> </h3>  <!--Caption-->
            <p style="color: rgb(17, 17, 17);font-weight: bold;"> 
                As a valued customer you can now avail Instant Sanction of your Home Loan at attractive interest rate</p>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a
        class="carousel-control-prev"
        href="#carousel-example-2"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carousel-example-2"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>

  <div class="container features">
    <div class="row">
        <h2 class="feature-title">Affordable Home Loan with Minimum Documentation</h2>
        <div class="col-lg-5 col-md-5 col-sm-12">
            
            <img src="/assets/images/image2.jpg" class="img-fluid">            
        </div>
        
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="acco-body">
                <div class="tab-inner-content">
                    <h4  class="tab-subtitle">Competitive Rates | Flexible Tenure | Doorstep Service | 100% Transparency </h4>
                    <p>Achieve the milestone of owning a home, and do it easily with Fincorp. Our home loan is the perfect financing tool for all your needs. With simple requirements, quick processing protocols, and online provisions, you don’t have to worry about a thing. Simply finalise the sanction you need and apply online in just 5 steps. </p>
                    <p>Fincorp provides home loans to buy, build, or renovate a home. We offer a long and flexible tenure and a competitive rate, ensuring affordability. What’s more, you can expect complete transparency with all loan dealings. There are no hidden charges whatsoever, and that is our promise. With our customised home loan, owning your dream home is now easier than ever.  </p>

                    <h4 class="tab-title">Various Reasons To Borrow A Home Loan</h4>
                    <div class="overviewbullet">
                        <ul>Do more with the Fincorp Home Loan. Use the sanction flexibly to meet any home financing expense you may have in mind. Here are some of the common reasons to avail funding.<br> 
                            <li>Improve or extend an existing home or flat</li>
                            <li>Build a house/bungalow on a plot </li>
                            <li>Purchase a pre-built home, new or through re-sale</li>
                            <li>Expand or renovate a housing unit</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <h2 class="feature-title">Features & Benefits</h2>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="acco-body">
                <div class="tab-inner-content">
                    <p>Our loan is customised to suit all types of customers and their home financing needs. We ensure minimal delays, quick approvals, hassle-free application, and offer special, convenience-first perks too! Here are some of the top home loan features & benefits offered by Fincorp. </p>
                    <div class="overviewbullet">
                        <ul> 
                            <li>Get home financing for every need</li>
                            <li>Avail a loan amount starting as low as Rs.5 lakh</li>
                            <li>Simple home loan eligibility criteria</li>
                            <li>Affordable and competitive home loan interest rates</li>
                            <li>No hidden charges</li>
                            <li>Quick processing with minimal requirements</li>
                            <li>Flexible tenure up to 30 years</li>
                            <li>End-to-end doorstep service</li>
                            <li>PMAY scheme benefits with a maximum interest subsidy of Rs.2.67 lakh </li>
                            <li>Digital <a href="home-loan-emi-calculator.php">home loan calculator</a> for easy loan planning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">            
            <img src="/assets/images/image3.jpeg" class="img-fluid">            
        </div>
    </div>

</div>
<!-- 
  <div id="collapse-A" class="collapse show" data-parent="#content"  aria-labelledby="heading-A">
    <div class="card-body">
  <div class="acco-item">
    <h1 class="acco-link">Affordable Home Loan with Minimum Documentation</h1>
    <div class="acco-body">
        <div class="tab-inner-content">
            <h3 class="tab-subtitle">Competitive Rates | Flexible Tenure | Doorstep Service | 100% Transparency </h3>
            <p>Achieve the milestone of owning a home, and do it easily with Poonawalla Fincorp. Our home loan is the perfect financing tool for all your needs. With simple requirements, quick processing protocols, and online provisions, you don’t have to worry about a thing. Simply finalise the sanction you need and apply online in just 5 steps. </p>
            <p>Poonawalla Fincorp provides home loans to buy, build, or renovate a home. We offer a long and flexible tenure and a competitive rate, ensuring affordability. What’s more, you can expect complete transparency with all loan dealings. There are no hidden charges whatsoever, and that is our promise. With our customised home loan, owning your dream home is now easier than ever.  </p>
            
            <h2 class="tab-title">Various Reasons To Borrow A Home Loan</h2>
            <div class="overviewbullet">
                <ul>Do more with the Poonawalla Fincorp Home Loan. Use the sanction flexibly to meet any home financing expense you may have in mind. Here are some of the common reasons to avail funding.<br> 
                    <li>Improve or extend an existing home or flat</li>
                    <li>Build a house/bungalow on a plot </li>
                    <li>Purchase a pre-built home, new or through re-sale</li>
                    <li>Expand or renovate a housing unit</li>
                </ul>
            </div>
        </div>
        <div class="acco-item">
            <h2 class="acco-link">Features & Benefits</h2>
            <div class="acco-body">
                <div class="tab-inner-content">
                    <p>Our loan is customised to suit all types of customers and their home financing needs. We ensure minimal delays, quick approvals, hassle-free application, and offer special, convenience-first perks too! Here are some of the top home loan features & benefits offered by Poonawalla Fincorp. </p>
                    <div class="overviewbullet">
                        <ul> 
                            <li>Get home financing for every need</li>
                            <li>Avail a loan amount starting as low as Rs.5 lakh</li>
                            <li>Simple home loan eligibility criteria</li>
                            <li>Affordable and competitive home loan interest rates</li>
                            <li>No hidden charges</li>
                            <li>Quick processing with minimal requirements</li>
                            <li>Flexible tenure up to 30 years</li>
                            <li>End-to-end doorstep service</li>
                            <li>PMAY scheme benefits with a maximum interest subsidy of Rs.2.67 lakh </li>
                            <li>Digital <a href="home-loan-emi-calculator.php">home loan calculator</a> for easy loan planning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->