*{
    background-color: rgb(250, 223, 173);
}
.accordion button {
    width: 100%;
    display: block;
}
.btn{
background-color: rgb(151, 205, 253);
color: black;
}
/* .buttonPosition{
    display: flex;
} */
.applyBtn{
background-color: rgb(252, 66, 66);
color: black;
/* align-content: center; */
/* justify-content: center; */
/* position: fixed; */
/* margin-left: 300px; */
position: relative;
left: 50%;
top: 50%;
}
.btn-position{
    margin-top: 100px;
    color: #000;
}
.btn-color{
    background-color: rgb(235, 130, 45);
}