<section style="margin-top:-47px;">
  <div class="container mt-5 ">
    <div class="row">
      <div class="col-sm-12">
        <div class="accordion_wrapp box_style">
          <div class="accordion" id="myAccordion">
            <br />
            <button type="button" class="btn btn-primary btn-lg btn-block btn-position btn-color" data-toggle="collapse"
              data-target="#collapsible-1">
              <span class=""></span>Salaried employees<span class="indicator"></span>
            </button>
            <div id="collapsible-1" data-parent="#myAccordion" class="collapse" style="margin: 50px;">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h4>Age</h4>
                    <ul class="list">
                      <li>21 years to 70 years</li>
                      <li>
                        NOTE: This home loan can be availed only till an individual
                        remains an income contributor.
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm">
                    <h4>Employment</h4>
                    <p>Individuals working under the following can apply:</p>
                    <ul class="list">
                      <li>Government Institution</li>
                      <li>Private sector</li>
                      <li>Public sector</li>
                      <li>MNCs or related companies</li>
                      <li>Partnership Firms</li>
                      <li>Proprietorship concern</li>
                      <li>NGOs or related organisations</li>
                    </ul>
                  </div>
                  <div class="col-sm">
                    <h4>Home Loan Documents</h4>
                  </div>
                </div>
              </div>

              <!-- <div class="accord_content col-md-6">
                <h4>Age</h4>
                <ul class="list">
                  <li>21 years to 70 years</li>
                  <li>
                    NOTE: This home loan can be availed only till an individual
                    remains an income contributor.
                  </li>
                </ul>
                <h4>Employment</h4>
                <p>Individuals working under the following can apply:</p>
                <ul class="list">
                  <li>Government Institution</li>
                  <li>Private sector</li>
                  <li>Public sector</li>
                  <li>MNCs or related companies</li>
                  <li>Partnership Firms</li>
                  <li>Proprietorship concern</li>
                  <li>NGOs or related organisations</li>
                </ul> -->
              <div>
                <button type="button" class="applyBtn  btn-lg col-md-12 " routerLink="/registration" style="width:15%">
                  Apply
                </button>
              </div>

            </div>
            <br />

            <button type="button" class="btn btn-primary btn-lg btn-block mb-1 btn-color" data-toggle="collapse"
              data-target="#collapsible-2">
              <span class="text-center"></span>Self-employed individuals:<span class="indicator"></span>
            </button>

            <div id="collapsible-2" data-parent="#myAccordion" class="collapse">
              <!-- <div class="accord_content">
                <h4>Age</h4>
                <p>23 years - 70 years</p>
                <h4>Employment</h4>
                <ul class="list">
                  <li>
                    Self-employed professionals (doctors, architects, etc)
                  </li>
                  <li>
                    Business owners, proprietors, partners of partnership firms,
                    etc.
                  </li>
                </ul>
               
              </div> -->
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h4>Age</h4>
                    <ul class="list">
                      <li>23 years - 70 years</li>
                      <li>
                        Self-employed professionals (doctors, architects, etc)
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm">
                    <h4>Employment</h4>
                    <p>Individuals working under the following can apply:</p>
                    <ul class="list">
                      <li>Government Institution</li>
                      <li>Private sector</li>
                      <li>Public sector</li>
                      <li>MNCs or related companies</li>
                      <li>Partnership Firms</li>
                      <li>Proprietorship concern</li>
                      <li>NGOs or related organisations</li>
                    </ul>
                  </div>
                  <div class="col-sm">
                    <h4>Home Loan Documents</h4>
                  </div>
                </div>
              </div>

              <button type="button" class="applyBtn btn-secondary btn-lg" style="width:20%">
                Apply
              </button>
            </div>
            <br />
            <button type="button" class="btn btn-primary btn-lg btn-block mb-1 btn-color" data-toggle="collapse"
              data-target="#collapsible-3">
              <span class="text-center"></span>Pradhan Mantri Awas Yojana<span class="indicator"></span>
            </button>

            <div id="collapsible-3" data-parent="#myAccordion" class="collapse">
              <div class="accord_content">
                <h4>Age</h4>
                <p>23 years - 70 years</p>
                <h4>Employment</h4>
                <ul class="list">
                  <li>
                    The Pradhan Mantri Awas Yojana (PMAY) allows eligible
                    first-time home owners to claim subsidies against the
                    purchase of their first property subject to its norms. If
                    you dream of owning a home via PMAY and have applied for a
                    home loan with Piramal Capital & Housing Finance then our
                    team of experts can help you through every stage of the
                    application process.
                  </li>
                  <li>***</li>
                </ul>
                <button type="button" class="applyBtn btn-secondary btn-lg" style="width:20%">
                  Apply
                </button>
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-color" data-toggle="collapse"
              data-target="#collapsible-4">
              <span class=""></span>Home loan for NRI<span class="indicator"></span>
            </button>

            <div id="collapsible-4" data-parent="#myAccordion" class="collapse">
              <div class="accord_content">
                <h4>Age</h4>
                <ul class="list">
                  <li>21 years to 70 years</li>
                  <li>
                    NOTE: This home loan can be availed only till an individual
                    remains an income contributor.
                  </li>
                </ul>
                <h4>Employment</h4>
                <p>Individuals working under the following can apply:</p>
                <ul class="list">
                  <li>Government Institution</li>
                  <li>Private sector</li>
                  <li>Public sector</li>
                  <li>MNCs or related companies</li>
                  <li>Partnership Firms</li>
                  <li>Proprietorship concern</li>
                  <li>NGOs or related organisations</li>
                </ul>
                <button type="button" class="applyBtn btn-secondary btn-lg" style="width:20%">
                  Apply
                </button>
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>